<h1><%=@movie_data[:title]%></h1>

 <ul>
  <li>Year Release: <%=@movie_data[:year]%></li>
  <li>Synopsis: <%=@movie_data[:synopsis]%></li>
  <li>Rating: <%=@movie_data[:rating]%></li>
  <li>Genre: <%=@movie_data[:genre]%></li>
  <li>Studio: <%=@movie_data[:studio]%></li>
</ul>
